:root {
  --custom-width: 187.5px;
  --bv-primary: #3491fa;
  --bv-primary-active: #3491fa50;
  --bv-plain: #eaf8f6;
  --bv-orange: #fca21c;
  --bv-text1: #121826;
  --bv-text2: #3c3e42;
  --bv-text3: #6f6f6f;
  --bv-tag: #848484;
  --bv-dark: #979797;
  --bv-tip: #c3c3c5;
  --bv-disable: #d9dbde;
  --bv-line: #ededed;
  --bv-bg: #f6f7f9;
  --bv-price: #eb5757;
}
